<div class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav pull-right hidden-xs">
        <li>
            <a href="http://www.wecenter.com/?copyright">Powered by <span class="text-info">WeCenter</span></a>
        </li>
        <li>
            <a href="http://www.aliyun.com/">构建于<span class="text-info">阿里云</span>上</a>
        </li>
        <li>
            <a href="#">粤ICP备 <span class="text-info">15099320号-1</span></a>
        </li>
        <li>
            <img id="qr_donate" src="http://www.yfx.name/img/common/user/donate.jpg" alt="思过崖的微信" style="display: none;position: absolute;top: -300px;left: -200px;">
            <a id="donate" href="#"><span class="text-info">捐赠狗粮</span></a>
        </li>
        <li>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=924714558&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:924714558:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
        </li>
    </ul>
    <?php if (is_mobile(true)) { ?>
    <div class="container">
        <div class="row">
            <p align="center"><?php _e('版本切换'); ?>: <b><?php _e('PC 版'); ?></b> | <a href="m/ignore_ua_check-FALSE"><?php _e('手机版'); ?></a></p>
        </div>
    </div>
    <?php } ?>
</div>
<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>

<?php echo get_setting('statistic_code'); ?>

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>

<div style="" id="__crond">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/<?php echo TIMESTAMP; ?>%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
		});
        $('#donate').click(function(){
            $('#qr_donate').fadeIn(300);
            return false;
        });
        $('body').click(function(){
            $('#qr_donate').fadeOut(300);
        })
	</script>
</div>

<?php TPL::output('global/debuger.tpl.htm'); ?>
<!-- / DO NOT REMOVE -->

</body>
</html>
